<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aionlinerecurtement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />
    <application
        android:allowBackup="true"

        android:allowClearUserData="true"
        android:allowClearUserDataOnFailedRestore="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mainimg"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/mainimg"
        android:supportsRtl="true"
        android:theme="@style/Theme.AiOnlineRecurtement"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Admin.ViewAll"
            android:exported="false" />
        <activity
            android:name=".Users.WebView"
            android:exported="false" />
        <activity
            android:name=".Users.ViewJobApplies"
            android:exported="false" />
        <activity
            android:name=".Users.ViewApplcaition"
            android:exported="false" />
        <activity
            android:name=".Company.ViewJobs"
            android:exported="false" />
        <activity
            android:name=".Company.addjobs2"
            android:exported="false" />
        <activity
            android:name=".Admin.AddCompany"
            android:exported="false" />
        <activity
            android:name=".Admin.Admin"
            android:exported="false" />
        <activity
            android:name=".Company.CompanyActivity"
            android:exported="false" />
        <activity
            android:name=".Users.UserActivity"
            android:exported="false"
            android:theme="@style/notheme" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>